.background {
  width: 100%;
  min-height: 100vh;
  background: #FFDFD3 50%;
}

/* .background {
  background-image: url(https://www.xmple.com/wallpaper/pink-blue-gradient-linear-1920x1080-c2-87cefa-ffb6c1-a-285-f-14.svg);
  width: 100%;
  min-height: 100vh;
} */

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 120px;
  border: 0;
  border-radius: 0;
  margin-bottom: 45;
  font-size: 12px;
  letter-spacing: 5px;
}

.margin {
  margin-bottom: 45px;
  font-weight: regular;
}

.bg-1 {
  font: 20px Poppins, sans-serif;
  color: #5b247a;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.question {
  color: #ffffff;
  font-size: 14px;
  margin-right: 10px;
  border-radius: 70px;
  border: 0px;
  background-color: #f3dcfb;
  background-image: linear-gradient(to bottom right, #f3dcfb, #679fe4);
  padding: 25px;
  width: 620px;
  height: 10px;
}

.search-container {
  float: center;
}

.ask {
  float: center;
  padding: 10px;
  margin-top: 8px;
  background: #a890fe;
  border-radius: 15px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

.ask:hover {
  background: #7763c0;
}

.reset {
  float: center;
  padding: 10px;
  margin-top: 8px;
  background: #679fe4;
  border-radius: 15px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

.reset:hover {
  background: #4171ac;
}

.answer {
  float: center;
  background-color: #f3dcfb;
  background-image: linear-gradient(to bottom right, #f3dcfb, #679fe4);
  border-radius: 15px;
  width: 620px;
  height: 320px;
  padding: 50px;
  margin-top: 30px;
  margin-left: 275px;
}
