.desktop {
  /* Desktop */
  /* position: relative;
  width: 1440px;
  height: 1024px; */
  background: #FFFFFF;
}
.background{
    /* width       : 100%;
    min-height  : 100vh; */
    /* background  :  #FFDFD3 50%; */
    position: relative;
    width: 1930px; /*1440*/
    height: 495px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #C6D2E3 0%, rgba(230, 235, 243, 0.442708) 71.35%, rgba(255, 255, 255, 0) 100%), rgba(228, 177, 100, 0.15);
}

.navbar-header {
    position: absolute;
    width: 72px;
    height: 71px;
    left: 102px;
    top: 44px;
}

.navbar-name {
    /* Song Question Answering */
    position: absolute;
    width: 314px;
    left: 120px;
    text-align: center;
    top: 31px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #545772;
    }


.margin {
    /* margin-bottom   : 45px;
    font-weight     : bold; */

    /* Let’s ask some questions about your interesting songs ! */
    position: absolute;
    width: 669px;
    height: 36px;
    left: 650px; /*378*/
    top: 143px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;

    color: rgba(104, 102, 200, 0.8);
    }
.margin2 {
    position: absolute;
    width: 796px;
    height: 54px;
    left: 580px; /*322*/
    top: 206px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    color: #5F5F5F;
}
.bg-1 {
    font    : 20px Montserrat, sans-serif;
    color   : #5b247a;
  }

/* .container-fluid {
    padding-top     : 70px;
    padding-bottom  : 70px;
  } */

.question {
    /* color             : #ffffff;
    font-size         : 14px;
    margin-right      : 10px;
    border-radius     : 70px;
    border            : 0px;
    background-color  : #f3dcfb;
    background-image  : linear-gradient(to bottom right, #f3dcfb, #679fe4);
    padding           : 25px;
    width             : 620px;
    height            : 10px; */

    position: absolute;
    width: 260px;
    height: 30px;
    left: 378px;
    top: 320px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;

    color: #C0C0C0;
  }


.ask {
        /* SEARCH */
        /* position: absolute;
        width: 70px;
        height: 27px;
        left: 632px;
        top: 394px; */
        float: center;
        margin-top: 98px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;

        /* Rectangle 5 */
        width: 115px;
        height: 35px;
        left: 609px;
        top: 390px;
        background: rgba(104, 102, 200, 0.7);
        border: 5px solid rgba(150, 149, 210, 0.2);
        border-radius: 20px;
    }

.ask:hover {
        background  : #eee0ff; /*แก้เพิ่ม*/
      }

.search-container {
  /* Rectangle 4 */
  position: absolute;
  width: 892px;
  height: 64px;
  left: 540px; /*274*/
  top: 303px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
}

.search-img {
  /* ion:search */
  position: absolute;
  width: 41px;
  height: 41px;
  left: 565px; /*316*/
  top: 314px;
}

.reset {
        /* float           : center;
        padding         : 10px;
        margin-top      : 8px;
        background      : #679fe4;
        border-radius   : 15px;
        font-size       : 14px;
        border          : none;
        cursor          : pointer; */

        /* RESET */
        float: center;
        margin-top: -288px;

        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */

        text-align: center;
        cursor: pointer;

        color: rgba(104, 102, 200, 0.8);

        /* Rectangle6*/
        position: absolute;
        width: 115px;
        height: 35px;
        left: 737px;
        top: 390px;

        background: #F9F3EC;
        border: 1px solid rgba(104, 102, 200, 0.8);
        box-sizing: border-box;
        border-radius: 20px;
    }

.reset:hover {
        background  : #eee0ff; /*แก้เพิ่ม*/
      }

.answer{
    /* float               : center;
    background-color    : #f3dcfb;
    background-image    : linear-gradient(to bottom right, #f3dcfb, #679fe4);
    border-radius       : 15px;
    width               : 620px;
    height              : 320px; 
    padding             : 50px;
    margin-top          : 30px;
    margin-left         : 275px; */

    /* ANSWER */
    float: center;
    text-align: center;
    color: #9F92BA;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    /* margin-top: 30px;*/
    margin-left: 264px;

    /* Rectangle 8 */
    position: absolute;
    width: 1080px;
    height: 421px;
    left: 180px;
    top: 555px;
    background: rgba(210, 209, 236, 0.18);
    border-radius: 30px;

}
